h1 {
  text-align: center;
  font-family: "Roboto";
}
.navbar input {
  display: flex;
  height: 50%;
  position: absolute;
  bottom: 12px;
  right: 1%;
}
.navbar ul {
  position: relative;
  background-color: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.navbar li {
  list-style-type: none;
  float: left;
}

.navbar a {
  font-family: "Roboto";
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 15px;
  display: block;
  text-align: center;
  position: relative;
  height: max-content;
  width: max-content;
}

.navbar a::before {
  content: "";
  width: 100%;
  height: 5%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;

  transition: 0.3s;
  transform: scaleX(0);
}

.navbar a:hover::before {
  transform: scaleX(1);
}
.navbar a:hover {
  background-color: gray;
}
body {
  margin: 0;
}
